<div class="tag">
	<span>Our Mission</span>
</div>
<div>
<p>Everybody wants to learn. Travel is one FUN way to learn.</p>

<p>Every day, people just like you travel. They learn and grow.</p>

<p>Every day, lots of people just dream about travel. Sure, they have limits and constraints. It's real.</p>

<p>If you are the one who trusted your guts and overcome your limitations, fear, anxiety and travelled, tell others. Inspiration is infectious, and this is the type of epidemic we’d like to see go global.</p>

<p>If you are the one who wish but don't travel, take inspirations and see how people like you are living their dreams.</p>

<p>Our goal is to motivate you to trust your gut, break rules that don’t matter, and be bold in the pursuit of your dreams.</p>

<p>Are you ready to start Travelling?</p>

</div>

<div class="tag">
	<span>Meet the Team</span>
</div>

<!--div class="bio" id="suhil bharwani"> 
<div class="details"> 
	<div class="bioThumb"><div class="shadow"></div>
	<%= image_tag("sushil-bharwani.jpg", :alt => "Sushil Bharwani") %>
	</div> 
	<ul class="mini-social"> 
		<li><a class="twitter" target="_blank" href="http://twitter.com/JSushil">twitter</a></li> 
		<li><a class="linkedin" target="_blank" href="http://www.linkedin.com/pub/sushil-bharwani/9/618/3a4">linkedin</a></li> 
		<li><a class="email" href="mailto:sushil.java@gmail.com?Subject Travel.I">email</a></li> 
	</ul> 
	<div class="clearfix"></div> 
</div--> 

<!--div class="description"> 
	<span class="name"><a href="http://sushilbharwani.blogspot.com/" target="_blank">Sushil Bharwani</a></span> 
	<span class="title">Creative Catalyst</span> 
	<p><p>Sushil is a user experience designer specializing in web development. Sushil hopes his work at Travel.i will motivate those who need that extra push to take action. He loves what he does and believes in always being a student.</p> 

	<div class="clearfix"></div> 
</div--> 
<div class="clearfix"></div> 
</div> 

 