<table class="profile" summary="Profile information">

    <td class="main">
      <p>I can't travel because</test>
      <p>Travel Made me Wiser</test>
      <p>My Travel Story</test>
    </td>
    <td class="sidebar round">
      <strong>Search a Travel Destination</strong><br />
      <input type="text"><br/>
      <strong>Traveller Of the month</strong>  <br/>
      <strong>Smart Travel Tips</strong>  <br/>
      <strong>Want to Travel with Me?</strong> <br/> 
    </td>
  </tr>
</table>

<%= link_to "Join the community now!", signup_path, :class => "signup_button round" %>