<footer>
 
 <div id="footer"> 
		<div class="floatLeft leftSide"> 
			<h4>Travel.I</h4> 
			<div class="footerWrap"> 
				<p>Your inspiration to learn and grow more through Travelling. Stories, wisdom, and many more other things from people from all walks of like who take initiative, break all the barriers, shun all their inhibitation.</p> 
				<p>Join us. Travel more. Learn more.</>
			</div> 
			<h5><span>Read more about</span> <%= link_to "The project", about_path %> </h5> 
			<h5><span>Get in touch </span> <a href="mailto:prateek.narang@gmail.com">Simple Sense</a></h5> 
			
		</div> 
</div>		
	
</footer>